@import '../../variables';

.container {
  margin: auto;
  position: relative;
  top: 20px;
  width: 66%;
}

.question-edit-panel {
  margin: 10px auto;
}

.edit-form {
  width: 100%;
}

.test-name-change-logo {
  font:  14px/20px Roboto,"Helvetica Neue",sans-serif;
}
