<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span *ngIf="test">Изменить: {{newTestForm.controls.test_name.value}} </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" *ngIf="!test">
  Loading...
</div>

<div class="container" *ngIf="test">
  <form [formGroup]="newTestForm" novalidate>
    <mat-form-field class="full-wd">
      <mat-label>Изменить название теста</mat-label>
      <input matInput formControlName="test_name">
    </mat-form-field>

    <ng-container formArrayName="questions"
                  *ngFor="let question of questions.controls;
                  let i = index ">
      <mat-expansion-panel class="question-edit-panel" [formGroupName]="i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            #{{i + 1}}
          </mat-panel-title>
          <mat-panel-description>
            {{question.controls.question_text.value}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h3> Текст вопроса </h3>
        <button (click)="removeQuestion(i)">Delete</button>
        <mat-form-field class="full-wd">
          <mat-label> Текст вопроса </mat-label>
          <textarea matInput formControlName="question_text"></textarea>
        </mat-form-field>
        <ng-container formArrayName="variants">
          <hr class="material">
          <h3> Варианты ответов </h3>
          <div *ngFor="let variant of question.controls.variants.controls;
                let j = index "
                [formGroupName]="j">
            <mat-form-field class="full-wd">
              <textarea matInput
                        formControlName="var_text">
              </textarea>
              <button (click)="removeVariant(i,j)">del</button>
            </mat-form-field>
          </div>
          <button (click)="addVariant(i)">Добавить вар</button>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
    <button mat-raised-button
            color="primary"
            (click)="addQuestion()">
      Добавить вопрос
    </button>
    <button mat-raised-button
            color="primary"
            (click)="saveNewTest(newTestForm)"
            [disabled]="!newTestForm.valid">
      Сохранить изменения
    </button>
  </form>
</div>

<div class="container">
  <hr>
    {{newTestForm.value | json}}
  <hr>
</div>
