<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span *ngIf="tests">Изменить: {{tests.test_name}} </span>
  </mat-toolbar-row>
</mat-toolbar>
<button type="button" (click)="addQuestion()">+</button>
<button type="button" (click)="revert()">revert</button>
<button type="button" (click)="func()">clog</button>

<ng-container *ngIf="tests">

  <form [formGroup]="newTestForm" novalidate>
    <div class="container">
      <label>Test Name:
        <input formControlName="test_name">
      </label>
    <hr>
    {{newTestForm.value | json}}
    <hr>
    </div>

    <div class="container"
         style="margin: 10px; background-color: green"
         formArrayName="questionForms" *ngIf="newTestForm">
      <div *ngFor="let question of questionForms.controls;
                   let i = index"
                   [formGroupName]="i">
        <h4>Question #{{i + 1}}</h4>
        <label>Question text
          <input formControlName="question_text">
        </label>
        <!-- {{question.controls.variants.value.var_text}} -->
       <!--  <ng-container *ngFor="let variant of variantForms.control;
                      let j = index"
                      [formGroupName]="j">
          <input formControlName="var_text">

        </ng-container> -->

        <hr>
      </div>
    </div>
  </form>
</ng-container>
