@import '../../variables';

.container {
  margin: auto;
  position: relative;
  top: 20px;
  width: 66%;
}

.spinner {
  left: 47%;
  position: absolute;
  top: 40%;
}

.question {
  font: 20px Roboto, "Helvetica Neue", sans-serif;
}

.answer {
  cursor: pointer;
  font: 14px Roboto, "Helvetica Neue", sans-serif;
  left: 0;
  margin: 7px;
  padding: 3px 3px 3px 30px;
  transition: .2s;

    &:hover {
      left: 10px;
      position: relative;
    }
}

.question-counter {
  float: right;
  font: 10px Roboto, "Helvetica Neue", sans-serif;
  margin: 5px;
}

.timer {
  left: 60%;
  position: relative;
}


