<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span *ngIf="test"> {{test.test_name}} </span>
    <div class="timer">
      Осталось времени {{timer}}
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="!questions[iteration]">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div class="container" *ngIf="questions[iteration]">
  <div class="question"> {{questions[iteration].question_text}} </div>
  <hr>
  <div *ngFor="let variant of variants">
    <mat-card *ngIf="questions[iteration].id == variant.question_id"
         class="answer"
         (click)="openNextQuestion(questions[iteration],variant)">
      <markdown [data]="variant.var_text">
      </markdown>
    </mat-card>
  </div>
  <div class="question-counter">
    Вопрос {{iteration+1}} / {{questions.length}}
  </div>
</div>

