.container {
  margin: auto;
  position: relative;
  top: 20px;
  width: 66%;
}

.question-block {
  margin: 10px;
}

.delete-question-icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s;
  width: 17px;

    &:hover {
      width: 20px;
    }
}

.delete-variant-icon {
  bottom: -10px;
  cursor: pointer;
  position: relative;
  right: 0;
  width: 17px;
}

.question-form {
  position: relative;
}

.question-field {
  display: block;
}

.variant-field {
  display: inline-block;
  width: calc(100% - 25px);
}

.add-question-button,
.send-test-button {
  margin: 10px;
  width: 150px;
}
